## Changes

## 🚀 Features

{% for type_, commits in release["elements"] | dictsort %}
{%- if type_ == "feature" %}
{% for commit in commits %}
* ({{type_}}):{{ commit.descriptions[0] }} by {{commit.commit.author.name}} in [`{{ commit.short_hash }}`]
{%- endfor %}{% endif %}{% endfor %}

## 🐛 Bug Fixes

{% for type_, commits in release["elements"] | dictsort %}
{%- if type_ == "fix" %}
{% for commit in commits %}
* ({{type_}}):{{ commit.descriptions[0] }} by {{commit.commit.author.name}} in [`{{ commit.short_hash }}`]
{%- endfor %}{% endif %}{% endfor %}

## 🧰 Maintenance

{% for type_, commits in release["elements"] | dictsort %}
{%- if type_ in ["chore", "ci", "documentation", "refactor", "test"] %}
{% for commit in commits %}
* ({{type_}}):{{ commit.descriptions[0] }} by {{commit.commit.author.name}} in [`{{ commit.short_hash }}`]
{%- endfor %}{% endif %}{% endfor %}
