## Changes

## 🚀 Features

{% for type_, commits in release["elements"] | dictsort %}
{%- if type_ == "feat" %}
{% for commit in commits %}
* {{ commit.descriptions[0] }} by {{commit.commit.author.name}} in [`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }})
{%- endfor %}{% endif %}{% endfor %}

## 🐛 Bug Fixes

{% for type_, commits in release["elements"] | dictsort %}
{%- if type_ == "fix" %}
{% for commit in commits %}
* {{ commit.descriptions[0] }} by {{commit.commit.author.name}} in [`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }})
{%- endfor %}{% endif %}{% endfor %}

## 🧰 Maintenance

{% for type_, commits in release["elements"] | dictsort %}
{%- if type_ in ["chore", "ci", "docs", "refactor"] %}
{% for commit in commits %}
* {{ commit.descriptions[0] }} by {{commit.commit.author.name}} in [`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }})
{%- endfor %}{% endif %}{% endfor %}
